/_scripts        export-ignore
/examples        export-ignore
/npm             export-ignore
/benchmark       export-ignore
/tests           export-ignore
/deno.json       export-ignore
/.github         export-ignore
/.gitignore      export-ignore
/.gitattributes  export-ignore
